<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Sample Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/index.css" />
</head>

<body>
    Hello World
    <!-- <div id="my-editor">
        <span class="block">
            Normal Text ... <span class="bold">bold text</span> <span class="color-red">red text</span> ... Normal Text
        </span>
    </div> -->

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/index.js"></script>
</body>

</html>
